@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: pre-line;
}

:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color variables */
  --dark: #151f22;
  --white: #fff;
  --blue: #759da2;
  --gold: #d2c07c;
  --turquoise: #496a6c;
  --bordeaux: #611c2d;
}

a {
  font-weight: 500;
  color: var(--dark);
  text-decoration: inherit;
  transition: all 0.3s linear;
}

a:active {
  color: var(--gold);
}

a:hover {
  color: var(--dark-blue);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "IM Fell Double Pica SC", serif;
  font-size: 1.8rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.3rem;
  font-family: "IM Fell Double Pica SC", serif;
}

p {
  font-size: 1.18rem;
}

.ml-embedded {
  height: 80px;
  overflow: hidden;
  color: white;
}
